In [105]:
import numpy as np
import pandas as pd

# Basics of Pandas

#### basic intuition

In [106]:
a = [34, 24, 55, 67, 12, 35, 65, 77, 33, 30]
b = [45, 25, 69, 43, 10, 54, 28, 95, 18, 50]

c = [a[i] + b[i] for i in range(len(a))]
print(c)

[79, 49, 124, 110, 22, 89, 93, 172, 51, 80]

#### with numpy?

In [107]:
a = np.array([34, 24, 55, 67, 12, 35, 65, 77, 33, 30])
b = np.array([45, 25, 69, 43, 10, 54, 28, 95, 18, 50])

print(a+b)

[ 79  49 124 110  22  89  93 172  51  80]

In [108]:
c = np.mean(a)
means = [a+b/2]
print(c)
print(means)

43.2
[array([ 56.5,  36.5,  89.5,  88.5,  17. ,  62. ,  79. , 124.5,  42. ,
        55. ])]

### Importing CSV

In [109]:
df = pd.read_csv("Assignment_1.csv")

In [110]:
print("DataFrame head")
print(df.head(10))
print("DataFrame tail")
print(df.tail(10))
print("DataFrame description")
print(df.describe())
print("DataFrame info")
print(df.info())
print("DataFrame columns")
print(df.columns)
print("DataFrame dtypes")
print(df.dtypes)
print("DataFrame shape")
print(df.shape)
print("Missing values in each column")
print(df.isnull().sum())

DataFrame head
   Roll No.  Subj1  Subj2  Subj3  Subj4  Subj5
0         1      6     80     89     23     68
1         2     47     69     33     98     71
2         3     15     12     92     62     13
3         4     35     29      5     33     42
4         5     89     69     96     96     85
5         6      4     84     52     89     93
6         7     12      2     86     78     55
7         8     10     70     89     39     40
8         9     89     92     90     40     13
9        10     45     27     53      9     54
DataFrame tail
    Roll No.  Subj1  Subj2  Subj3  Subj4  Subj5
70        71     41      6     87     41      5
71        72     20     93      4     60     23
72        73     69     90     53      1     30
73        74     38     86      7     95     58
74        75     93     36     62     98     89
75        76     27     22     80     55     56
76        77     41     73      7     66     33
77        78     40     63     49     39     54
78        79     77     69     72     94     35
79        80     75     17     49     38     37
DataFrame description
       Roll No.      Subj1      Subj2      Subj3      Subj4       Subj5
count   80.0000  80.000000  80.000000  80.000000   80.00000   80.000000
mean    40.5000  46.687500  48.362500  48.050000   50.82500   47.600000
std     23.2379  28.034154  28.112002  28.419061   30.37978   28.207011
min      1.0000   0.000000   0.000000   3.000000    0.00000    0.000000
25%     20.7500  23.000000  21.500000  23.750000   26.75000   24.000000
50%     40.5000  41.000000  49.000000  49.000000   51.00000   46.500000
75%     60.2500  71.250000  70.250000  75.250000   75.25000   68.000000
max     80.0000  97.000000  97.000000  96.000000  100.00000  100.000000
DataFrame info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Roll No.  80 non-null     int64
 1   Subj1     80 non-null     int64
 2   Subj2     80 non-null     int64
 3   Subj3     80 non-null     int64
 4   Subj4     80 non-null     int64
 5   Subj5     80 non-null     int64
dtypes: int64(6)
memory usage: 3.9 KB
None
DataFrame columns
Index(['Roll No.', 'Subj1', 'Subj2', 'Subj3', 'Subj4', 'Subj5'], dtype='object')
DataFrame dtypes
Roll No.    int64
Subj1       int64
Subj2       int64
Subj3       int64
Subj4       int64
Subj5       int64
dtype: object
DataFrame shape
(80, 6)
Missing values in each column
Roll No.    0
Subj1       0
Subj2       0
Subj3       0
Subj4       0
Subj5       0
dtype: int64

In [111]:
print(df.iloc[0:5, 0:3])
print(df.iloc[1, :])

   Roll No.  Subj1  Subj2
0         1      6     80
1         2     47     69
2         3     15     12
3         4     35     29
4         5     89     69
Roll No.     2
Subj1       47
Subj2       69
Subj3       33
Subj4       98
Subj5       71
Name: 1, dtype: int64